html{
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
    width: 20em;
}

#notF{
    color: #ff0000;
}

button{
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15%;
    padding: 2px;
}

h1{
    background-color: #1500ff;
    color: #ffffff;
}